# mcfunction dosyaları
DataPacks/**/*.mcfunction linguist-language=mcfunction

# json dosyaları
DataPacks/**/*.json linguist-language=JSON

# nbt veri, istatistiğe girme
DataPacks/**/*.nbt linguist-vendored=true

# zip paketler kaynak değil
DataPacks/**/*.zip linguist-vendored=true
