# mcfunction dosyalarını ayrı dil gibi göster
*.mcfunction linguist-language=mcfunction

# json zaten json ama netleyelim
*.json linguist-language=JSON

# nbt binary / data sayılsın
*.nbt linguist-generated=true
*.nbt linguist-vendored=true

*.zip linguist-language=mcfunction
*.zip linguist-language=JSON
